# Скомпилированные бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарники
*.test

# Файлы профилирования и покрытия кода
*.out

# Папка vendor (если не планируешь хранить зависимости в репозитории)
/vendor/